Babel==2.8.0
click==7.1.1
Flask==1.1.1
Flask-Babel==1.0.0
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
numpy==1.18.2
pandas==1.0.3
patsy==0.5.1
python-dateutil==2.8.1
pytz==2019.3
scipy==1.4.1
six==1.14.0
statsmodels==0.11.1
Werkzeug==1.0.0
