{% extends 'layout.html' %}


{% block body %}

    <div class="row">
    <h2 class="text-primary border-bottom text-center" id="t-test">T-Test</h2>
        <div class="row">
            {% if task == "selected" %}
                <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                      <h4>The uploaded data looks like below</h4>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                           {% for column in columns %}
                            <th>{{column}}</th>
                           {% endfor %}
                          </tr>
                        </thead>
                        <tbody>
                          {% for array in tablelist %}
                              <tr>
                          {% for content in array %}
                            <td>{{ content }}</td>
                          {% endfor %}
                              </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                <h4>Select variable (column) which you want to analyze and specify population mean</h4>
                    <div class="row">
                        <form method="POST" action="/one-sample/t-test/result">
                        <div class="col-xs-8">
                        {% for column in columns %}
                            <div class="checkbox">
                                <label><input class="single-checkbox" type="checkbox" name="varcheckbox"  value="{{ column }}">{{ column }}</label>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="col-xs-4">
                            <br />
                            <label>
                                <input type="number" value="Submit" class="input-group" placeholder="population mean" name="popmean">
                            </label>
                            <br />
                                <input type="submit" value="Submit" class="btn btn-default">
                        </form>
                        </div>
                    </div>
            {% else %}

                {% include 'file-upload.html' %}
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
        <script>
            $(function () {
                let limit = 1;
                $('#single-checkbox').on('change', function(evt) {
                   if($(this).siblings(':checked').length >= limit) {
                       this.checked = false;
                       alert('as this is one sample test, you can only choose 1 variable')
                   }
                });
            });
        </script>
{% endblock %}