.text-wrap {
    white-space: normal;
}

.not-active {
    pointer-events: none !important;
    cursor: default !important;
}

.uplBtn {
    padding: 1px 12px !important;
}

#t-test {
    border-bottom: 2px solid #428ACA;
}

#proportion-z-test {
    border-bottom: 2px solid #428ACA;
}

#binomial-test {
    border-bottom: 2px solid #428ACA;
}

#mann-whitney-u-test {
    border-bottom: 2px solid #428ACA;
}

#two-sample-ks-test {
    border-bottom: 2px solid #428ACA;
}

#wilcoxon-signed-rank-test {
    border-bottom: 2px solid #428ACA;
}

#paired-students-t-test {
    border-bottom: 2px solid #428ACA;
}

#two-sample-t-test {
    border-bottom: 2px solid #428ACA;
}

#welchs-t-test {
    border-bottom: 2px solid #428ACA;
}

#proportions-z-test {
    border-bottom: 2px solid #428ACA;
}

#ks-test {
    border-bottom: 2px solid #428ACA;
}

#shapiro-wilk-test {
    border-bottom: 2px solid #428ACA;
}

#home { color: #7a7c7f; font-size: 20px; font-family: "Libre Baskerville", serif; line-height: 45px; text-align: center;
    text-shadow: 0 1px 1px #fff; padding-top: 20px; }

#aim { color: #428ACA; }
