{% extends 'layout.html' %}


{% block body %}
    <div class="row">
        <h2 class="text-primary border-bottom text-center" id="proportion-z-test">Proportion Z Test</h2>
        <div class="row">
            <form method="POST" action="/one-sample/proportion-test/result" id="form-proportion-z-test">
                <div class="col-xs-8">
                            <h4> Please specify count, nob and value (value must be float) </h4>
                            <br/>
                            <label>
                                <input type="number" required value="Submit" min="0" step="0.01" class="input-group"
                                       placeholder="nob" name="nob">
                            </label>
                            <br/>
                            <label>
                                <input type="number" required value="Submit" min="0" step="0.01" class="input-group"
                                       placeholder="count" name="count">
                            </label>
                            <br/>
                            <label>
                                <input type="number" required value="Submit" min="0" step="0.01" class="input-group"
                                       placeholder="value of null hypothesis" name="value">
                            </label>
                            <br/>
                            <input type="submit" value="Submit" class="btn btn-default">
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}