{% extends 'layout.html' %}

{% block body %}
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut efficitur porta sapien, sit amet imperdiet leo
        varius quis. Sed sodales elementum sapien in varius. Phasellus et enim sit amet mi bibendum consequat. Aenean
        dignissim ac felis vel placerat. Fusce auctor a diam quis feugiat. Vivamus quis mattis turpis. Praesent et est
        volutpat, malesuada turpis eu, dapibus ligula. Sed volutpat varius condimentum. Vivamus id tincidunt ante.
        Aliquam quis commodo tellus, ut rutrum nibh. Pellentesque bibendum ex sed risus aliquam interdum. Vivamus
        vestibulum consequat cursus. Maecenas malesuada dui vitae ultrices porta. Ut vel dolor in lacus bibendum
        suscipit non nec velit. Sed porttitor ornare lectus at dapibus. </p>
{% endblock %}