{% extends 'layout.html' %}

{% block body %}
    <p id="home"> Research is the systematic work of using scientific methods and to solve a problem and to increase the amount of data available.
        The exact clarification of the data obtained from the results of research depends on the suitability of the research methods and
        the correct selection of the statistical tests used during the analysis.
        Especially, there are some studies in literature proving that some statistical methods are used inappropriately in medical studies.
        <b id="aim">That's why</b> this application has been developed for correct test selection with flow chart.</p>
{% endblock %}