<ul class="nav nav-tabs ">
    <li role="presentation" class="{{ 'active' if page=='onesample' else '' }}"><a href="one-sample"><h4>Tek Örnek
        Testleri</h4></a></li>
    <li role="presentation" class="{{ 'active' if page=='twosample' else '' }}"><a href="two-sample"><h4>İki Örnek
        Testleri</h4></a></li>
    <li role="presentation" class="#"><a href="#"><h4>Çok Örnek Testleri</h4></a></li>
    <h3 class="text-right text-primary"><img src="/static/img/logo.png" width="60" height="25" alt="">
        ONLSTAT
    </h3>
</ul>