{% extends 'layout.html' %}

{% block body %}
    <!-- Cursor -->
    <div class="row">
        <div class="col-xs-12">
            <p class="lead text-center bg-info btn text-info center-block not-active" >Data has a normal distribution?</p>
            <div class="row">
                <div class="col-xs-6 text-center">
                    <p class="btn not-active" ><span class="glyphicon glyphicon-arrow-down"></span>
                </div>
                <div class="col-xs-6 text-center">
                    <p class="btn not-active" >
                        <span class="glyphicon glyphicon-arrow-down"></span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 text-center">
            <p class="center-block"><span class="btn btn-success btn-lg not-active" >Yes</span></p>
            <p class="btn center-block not-active" ><span class="glyphicon glyphicon-arrow-down"></span></p>

            <p class="bg-info text-info btn not-active"  style="width: 100%;">Will the mean be tested?</p>
            <div class="row">
                <div class="col-xs-6 text-center">
                    <p class="btn not-active"><span class="glyphicon glyphicon-arrow-down"></span>
                </div>
                <div class="col-xs-6 text-center">
                    <p class="btn not-active" >
                        <span class="glyphicon glyphicon-arrow-down"></span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p class="center-block"><span class="btn btn-success btn-lg not-active" >Yes</span></p>
                    <p class="btn center-block not-active" ><span class="glyphicon glyphicon-arrow-down"></span></p>
                    <p> <a href="/one-sample/t-test" class="btn btn-primary"> T-Test </a></p>
                </div>
                <div class="col-xs-6">
                    <p class="center-block"><span class="btn btn-danger btn-lg not-active" >No</span></p>
                    <p class="btn center-block not-active" ><span class="glyphicon glyphicon-arrow-down"></span></p>
                    <p class="btn btn-primary">Likelihood-Ratio Test</p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 text-center">
            <p class="center-block"><span class="btn btn-danger btn-lg not-active" >No</span></p>
            <p class="btn center-block not-active" ><span class="glyphicon glyphicon-arrow-down"></span></p>
            <p class="bg-info text-info btn not-active"  style="width: 100%;">Will the mean be tested?</p>
            <div class="row">
                <div class="col-xs-6 text-center">
                    <p class="btn not-active" ><span class="glyphicon glyphicon-arrow-down"></span></p>
                </div>
                <div class="col-xs-6 text-center">
                    <p class="btn not-active" ><span class="glyphicon glyphicon-arrow-down"></span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p class="center-block"><span class="btn btn-success btn-lg not-active" >Yes</span></p>
                    <p class="btn center-block not-active" ><span class="glyphicon glyphicon-arrow-down"></span></p>
                    <p class="btn btn-primary">Sign Test </p>
                </div>
                <div class="col-xs-6">
                    <p class="center-block"><span class="btn btn-danger btn-lg not-active" >No</span></p>
                    <p class="btn center-block not-active" ><span class="glyphicon glyphicon-arrow-down"></span></p>
                    <p class="btn btn-primary">Binomial Test</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}