{% extends 'layout.html' %}


{% block body %}
    <div class="row">
        <h2 class="text-primary border-bottom text-center" id="binomial-test">Binomial Test</h2>
        <div class="row">
            <form method="POST" action="/one-sample/binomial-test/result" id="form-binomial-test">
                <div class="col-xs-8">
                            <h4> Please specify count, nob and value (value must be float) </h4>
                            <br/>
                            <label>
                                <input type="number" required value="Submit" min="0" step="1" class="input-group"
                                       placeholder="number of successes" name="x">
                            </label>
                            <br/>
                            <label>
                                <input type="number" required value="Submit" min="0" step="1" class="input-group"
                                       placeholder="number of trials" name="n">
                            </label>
                            <br/>
                            <label>
                                <input type="number" required value="Submit" min="0" max="1" step="0.001" class="input-group"
                                       placeholder="probability of success" name="p">
                            </label>
                            <br/>
                            <br/>
                            <input type="submit" value="Submit" class="btn btn-default">
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}